/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 5, 2018, 12:23:23 PM
    Author     : Bagel
*/

.label
{
    -fx-text-fill:black;
    -fx-alignment:CENTER;
    -fx-font-size:12pt;
    
}

.grid {
    -fx-background-color: #f1e5e5;
    -fx-background-radius: 5.0;
    -fx-background-insets: 0.0 5.0 0.0 5.0;
    -fx-padding: 30;
    -fx-hgap: 20;
    -fx-vgap: 20;
}
.root
{
    -fx-background-color: bisque;
    -fx-background-image: url("../gui/icons/configBackground.jpg");
    
}
.button
{
    -fx-background-color: #f0dddd;
    -fx-border-radius:20%;
    
}