/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2018, 4:35:50 PM
    Author     : Bagel
*/

.button 
{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-effect: dropshadow( one-pass-box , white , 8 , 0.0 , 1 , 0 );
    
}

.label
{

    -fx-text-fill: #ff6666;
    -fx-font-size: 15pt;
    -fx-font-family:Didot;
}

.text-area {
    -fx-background-color: transparent;
    -fx-box-border: none;
    -fx-background-radius:30%;
     -fx-highlight-fill:transparent;
     -fx-highlight-text-fill:black;
}

.text-area .scroll-pane {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}


.text-area .scroll-pane .content{
    -fx-background-color: transparent;
}

.scroll-pane {
    -fx-background-color: black;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color:transparent;
}

.increment-button, .decrement-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #f1e5e5;
    -fx-background-radius: 5em;
}

  